#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100%;
  overflow-y: scroll;
  pointer-events: none;
}

.modal {
  pointer-events: none;
}

.modal.active {
  pointer-events: auto;
}
